tracing:
  url: 'http://jaeger-prod-collector.observability:14268/api/traces'
  sample_fraction: 1.0

serve_addr: ':8000'
probes:
  liveness: "/alive"
  readiness: "/ready"
timeout: '30s'
faas: 'https://openfaas.dev.autobp.mts.ru/'
scheduler: "http://scheduler"
network_monitor: "http://network-monitor/api/netmon/v1/"

people:
  url: "https://dev.iga.mts.ru/api/archivist/v2"

database:
  kind: postgres
  host: localhost
  port: 5432
  user_env_key: "DB_USER"
  pass_env_key: "DB_PASS"
  dbname: 'pipeliner'
  max_connections: 50
  timeout: 10

sso:
  address: "https://isso-dev.mts.ru"
  client_secret_env_key: "SSO_SECRET"
  client_id: "jocasta-dev"
  realm: "mts"
  access_cookie_name: "kc-access"

mail:
  broker: "redis"
  host: "localhost"
  port: 6379
  queue: "mail"
  database: "0"
  from:
    name: "Service Desk"
    email: "servicedesk_noreply@mts.ru"
  sd_address: "https://dev.servicedesk.mts.ru"
  read_timeout: '10s'
  write_timeout: '25s'

kafka:
  brokers:
    - 10.73.138.117:9094
  producer_topic: "from.pipeliner.to.runner"
  consumer_group: "pipeliner"
  consumer_topic: "from.runner.to.pipeliner2"
  health_check_timeout: 30

remedy: "http://remedy"

swagger:
  base_path: '/api/pipeliner/v1'
  version: '0.1'
  host: 'dev.jocasta.mts-corp.ru'
  port: ''

http_client_config:
  timeout: '80s'
  keep_alive: '30s'
  max_idle_conns: 10000
  idle_conn_timeout: '80s'
  tls_handshake_timeout: '10s'
  expect_continue_timeout: '1s'
  proxy_url: ''

monitoring:
  addr: 'http://monitoring:9000/api/monitoring/v1/pipeliner'
  timeout: '5s'

prometheus:
  stand: 'dev'
  push:
    url: 'http://openfaas-prometheus-pushgateway.openfaas:9091'
    job: 'pipeliner'

log:
  title: 'pipeliner'
  output: 'stdout'
  formatter: 'json'
  level: 'trace'
  hooks:
    filename:
      sourceField: 'sourcelog'

servicedesc:
  servicedesk_url: 'https://dev.servicedesk.mts.ru'
  scope: 'servicedesk-develop-aud'

function_store:
  url: 'functions:90'

scheduler_tasks:
  url: 'scheduler:90'

human_tasks:
  url: 'human-tasks:90'

imap:
  imap_connection: "mail.inside.mts.ru:993"
  imap_user_name: "dev_servicedeskmail@mts.ru"
  imap_password: "IMAP_PASSWORD"
  imap_mail_box: "Inbox"

integrations:
  url: 'integrations:90'

forms:
  url: 'forms:90'

hrgate:
  hr_gate_url: "https://hr-gate.stage.autobp.mts.ru"
  scope: "hr-gate"

minio:
  addr: "minio:9000"
  access_env_key: "ACCESS_KEY"
  secret_access_env_key: "SECRET_ACCESS_KEY"
  use_ssl: False
  bucket_name: "jocasta-attachments"

file_registry:
  rest: 'file-registry:8000'
  grpc: 'file-registry:90'

host_url: 'https://dev.ap.mts.ru'